@use '../base/variables';
@use '../base/mixins';

button.scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 1rem;
  bottom: 2.5rem;

  width: 48px;
  height: 48px;
  border-radius: 48px;
  box-sizing: border-box;
  background: var(--gradient-skyblue-purple-wide-light);
  color: var( --color-white-alpha-85);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transform: translateY(12rem);
  transition: all 0.5s;

  @include mixins.hover{
    &:hover{
      background: var(--color-purple-400-alpha-60);
    }
  }

}

button.scroll-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}