@use '../base/variables';



footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  background: var(--color-bg-footer);
  font-size: 0.875rem;
  color: var(--color-gray-200);
}