@use '../base/variables';
@use '../base/mixins';


header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: var(--color-white-alpha-60);
  position: sticky;
  left: 0;
  top: 0;

  .left-group {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;

    h1.logo {
      a {
        display: inline-block;
        width: 28px;
        height: 26px;
        overflow: hidden;

        img {
          height: 100%;
          object-fit: cover;
          object-position: left;
        }
      }
    }

    button.ham {
      width: 24px;

      @include mixins.respond(lg){
        display: none;
      }
    }
  }

  nav.gnb {
    position: absolute;
    left: 0;
    top: 44px;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: var(--color-white-alpha-85);

    @include mixins.respond(lg){
      position: relative;
      left: 0;
      top:0;
      padding: 0;
      background-color: transparent;
    }

    ul.gnb-menu {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      font-family: var(--font-english);

      @include mixins.respond(lg){
        flex-direction: row;
        flex-wrap: wrap;
      }

      >li {
        width: 100%;
        position: relative;

        @include mixins.respond(lg){
          width: 133px;
          height: 44px;
          text-align: center;
          line-height: 44px;
        }

        >a {
          font-size: 1rem;
          font-weight: 400;

          @include mixins.respond(lg){
            font-weight: 300;
          }

          @include mixins.hover{
            &:hover{
              text-decoration: underline;
            }
          }
        }

        @include mixins.hover{
          &:hover ul.submenu{
            display: block;
          }
        }

        >ul.submenu {
          width: 100%;
          padding: 1rem 1.25rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          @include mixins.respond(lg){
            display: none;
            padding: 0;
            background-color: var(--color-white-alpha-60);
          }

          >li {
            width: 100%;

            >a::before{
              display: inline-block;
              content: '-';
              margin-right: 4px;
            }

            >a{
              font-weight: 300;

              @include mixins.hover{
                &:hover{
                  text-decoration: underline;
                  color: var(--color-purple-500);
                  font-weight: 400;
                }
              }
            }
          }
        }

        
      }

    }
  }
}