@use '../base/variables';
@use '../base/mixins';


header {
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: var(--color-white-alpha-60);
  position: sticky;
  left: 0;
  top: 0;
  gap: 30px;

  .left-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1.logo {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: inline-block;
        width: 28px;
        height: 26px;
        overflow: hidden;

        img {
          height: 100%;
          object-fit: cover;
          object-position: left;
        }
      }
    }

    button.ham {
      width: 24px;
      height: 24px;

      @include mixins.respond(lg) {
        display: none;
      }
    }
  }

  nav.gnb {
    position: absolute;
    left: 0;
    top: 44px;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: var(--color-white-alpha-85);

    @include mixins.respond(lg) {
      position: relative;
      left: 0;
      top: 0;
      padding: 0;
      background-color: transparent;
    }

    ul.gnb-menu {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      font-family: var(--font-english);
      color: var(--color-black);

      @include mixins.respond(lg) {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
      }

      >li {
        width: 100%;
        position: relative;

        @include mixins.respond(lg) {
          width: auto;
          height: 44px;
          text-align: center;
          line-height: 44px;
        }

        >a {
          font-size: 1rem;
          font-weight: 400;

          @include mixins.respond(lg) {
            font-weight: 300;
          }

          @include mixins.hover {
            &:hover {
              text-decoration: underline;
            }
          }
        }

        @include mixins.hover {
          &:hover ul.submenu {
            display: block;
          }
        }

        >ul.submenu {
          width: 100%;
          padding: 0.5rem 1.5rem 0;
          display: flex;
          flex-direction: column;
          line-height: 2.5;
          
          @include mixins.respond(lg) {
            display: none;
            position: absolute;
            left: 50%;
            top: 44px;
            transform: translateX(-50%);
            width: auto;
            min-width: 4.68rem;
            line-height: 2;
            padding: 0.5rem 1.5rem 1rem;
            background-color: var(--color-white-alpha-60);
          }

          >li {
            width: 100%;

            >a {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 2px;
              font-weight: 300;

              &::before {
                display: block;
                content: '';
                width: 4px;
                height: 1px;
                background-color: var(--color-gray-900);
                margin-right: 4px;
              }

              @include mixins.hover {
                &:hover {
                  text-decoration: underline;
                  color: var(--color-text-nav-hover);
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }
}