@charset "utf-8";


@media screen and (min-width: 1px) {
    /* ========================================== */
    /* 바탕 */
    .SyntheLayer{background-color: #1C2232; box-sizing: border-box; border-top-left-radius: 1.25rem; border-top-right-radius: 1.25rem; border-top: 1px solid #555; margin-top: 1.5rem;}    
    .SyntheLayer .spaceBg{background-color: #1C2232;}
    /* 닫기 버튼 */
    .SyntheLayer .btn_close{display: inline-block; margin: 10px;}
    .SyntheLayer .btn_close .material-symbols-outlined{font-size: 1.375rem; line-height: 1; color: #aaa; font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48}
    /* 타이틀 */
    .SyntheLayer h5{width: 90%; margin: 0 auto; font-size: 1rem; color: #39B29D; padding-bottom: 1.25rem;}
    /* 이미지박스 */
    .body .resultBox{width: 90%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
    /* 박스 스타일 */
    .body .resultBox .orgImgBox,
    .body .resultBox .seedImgBox{width: 36vw; height: 36vw; background: #1C2232 0% 0% no-repeat padding-box; box-shadow: 0 0.6525rem 1.0625rem #00000029; border: 1px solid #39B29D; border-radius: 0.375rem; box-sizing: border-box; display: inline-block; overflow: hidden; position: relative;}
    /* 이미지 넘버 텍스트 */
    .body .resultBox .imgArea p{font-size: 0.7rem; color: #fff; text-align: center; margin: 0.4rem 0 0.625rem 0;}
    /* 박스안에 선택한 사진이 들어왔을때 스타일 */
    .body .resultBox .orgImgBox .originImg,
    .body .resultBox .seedImgBox .seedImg{position: absolute; left: 0; top: 0; z-index: 10; width: 100%; height: 100%; box-sizing: border-box; background-position: center; background-repeat: no-repeat; background-size: cover;}
    /* 박스 내부 아이콘 */
    .body .resultBox .orgImgBox .icon,
    .body .resultBox .seedImgBox .icon{width: 90%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;}
    .body .resultBox .orgImgBox .icon img,
    .body .resultBox .seedImgBox .icon img{width: 2.5rem;}
    /* 박스 내부 텍스트 */
    .body .resultBox .orgImgBox .info,
    .body .resultBox .seedImgBox .info{width: 100%; font-size: 0.7rem; color: #fff;}
    /* '+' 모양 */
    .body .resultBox .addImgBox{display: inline-block; margin-top: -14.7vw;}
    .body .resultBox .addImgBox .addImg{font-size: 4vw; color: #fff;}


    /* 합성시작, 다시하기 버튼 */
    .btn_autoSyn{width: 90%; margin: 4vw auto 6vw;}
    .btn_autoSyn>div{display: inline-block; height: 12.5vw; background-color: #4C5159; vertical-align: top; text-align: center; border-radius: 4px;}
    .btn_autoSyn .startBtn_autoSyn{width: 64%; font-size: 0.9rem; line-height: 12.5vw;}
    .btn_autoSyn .reloadPage{width: calc(35% - 10px); margin-left: 6px;}
    .btn_autoSyn .reloadPage span{display: inline-block; font-size: 1.2rem; line-height: 12.5vw;}


    /* ========================================== */
    /* 이미지셀렉 패널 */
    .imgpannelLayer .spaceBg{background-color: #1c2232;}
    .imgpannel{width: 100%; height: calc(100% - 3.5rem); position: fixed; bottom: 0; left: 0; background-color: transparent; z-index: 50;}
    /* 이미지셀렉 패널 탭메뉴 */
    .tabBox{width: 100%; margin: 0 auto; margin-top: 10px;}
    .tabBox .menu{float: left; width: 33.33%; height: 2.25rem; border: 1px solid #aaa; border-left: none; box-sizing: border-box; border-top-left-radius: 4px; border-top-right-radius: 4px; padding: 0.375rem 0.25rem; text-align: center; background-color: #121826;}
    .tabBox .menu.active{border-bottom: 1px solid #1C2232; background: #1C2232 0% 0% no-repeat padding-box;}
    .tabBox .menu .icon{display: inline-block; width: 1rem; height: 1rem; background-size: contain; background-position: center; background-repeat: no-repeat; vertical-align: top;}
    .tabBox .menu#image .icon{background-image: url("../image/web/icon_images.png");}
    .tabBox .menu#seed .icon{background-image: url("../image/web/icon_sunflower-seed.png");}
    .tabBox .menu#result .icon{background-image: url("../image/web/icon_ex-settings.png");}
    .tabBox .menu#setting .icon{background-image: url("../image/web/icon_ex-settings.png");}
    .tabBox .menu .content{display: inline-block; color: #fff; font-size: 0.75rem; width: 2.5rem; text-align: left;}
    
    /* 이미지셀렉 패널 내용부 */
    .tabDetailBox{width: 100%; background-color: #1c2232; padding : 1.25rem 0.65rem 0 1rem; box-sizing: border-box;}
   
    /* 이미지셀렉 패널 images 내용 */
    .tabDetailBox .uploadImage{position: relative; top: 0; left: 50%; transform: translateX(-50%); display: inline-block; background: #39B29D; border-radius: 4px; width: 90%; height: 2.3rem; line-height: 2.3rem; text-align: center; color: #fff; font-size: 0.85rem;}
    .tabDetailBox .mTitle{position: relative; font-size: 0.9rem; text-align: left; color: #fff; margin: 0.9rem 0 0.625rem; font-weight: bold;}

    .tabDetailBox .imageBox{width: 100%; height: calc(100vh - 17.8rem); text-align: left; overflow-y: scroll;}
    .tabDetailBox .imageBox::-webkit-scrollbar {width: 8px;}
    .tabDetailBox .imageBox::-webkit-scrollbar-thumb {background-color: #3D4451; border-radius: 10px;}
    .tabDetailBox .imageBox::-webkit-scrollbar-track {background-color: #1C2232; border-radius: 10px;}

    .tabDetailBox .imageBox .preProjImage,
    .tabDetailBox .seedImgBox .seedImage,
    .tabDetailBox .savedImgBox .condiImage,
    .tabDetailBox .savedImgBox .resultImage{
        display: inline-block;
        width: calc(((100vw - 2.65rem) / 3) - 0.1rem);
        height: calc(((100vw - 2.65rem) / 3) - 0.1rem);
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;
        box-sizing: border-box;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    /* 이미지셀렉 패널 Seeds 내용 */
    .tabDetailBox .mTitle.seedsTitle{margin-bottom: 0.625rem;}
    .tabDetailBox .mTitle .fClear{position: absolute; right: 0.2rem; top: 0; width: 1.1rem; height: 1.1rem; background-image: url("../image/web/Button_X.png"); background-size: contain; background-repeat: no-repeat;}

    .tabDetailBox .filterBox{text-align: left; width: calc(100% - 0.8rem); margin: 1.25rem 0;}
    .tabDetailBox .filterBox.filterBox1{width: 100%;}
    .tabDetailBox .filterBox .title{float: left; width: 30%; height: 1.5rem; line-height: 1.5rem; font-size: 0.875rem; color: #fff;}
    .tabDetailBox .filterBox .btBox{float: right;}
    .tabDetailBox .filterBox .genderExpand{display: inline-block; vertical-align: top; font-weight: normal; font-size: 0.6875rem; text-align: center; color:#fff; width: 3.75rem; height: 1.5rem; line-height: 1.5rem; background: #4C51593B; border: 1px solid #AAAAAA; border-radius: 5px; box-sizing: border-box; margin-right: 0.375rem;}

    .tabDetailBox .filterBox .genderRadio:checked+label{background: #39B29D57; border: 1px solid #39B29D;}
    .tabDetailBox .filterBox .genderRadio{display: none;}
    .tabDetailBox .filterBox p .title{float: left;}
    .tabDetailBox .filterBox #age{float: right; width: 6.25rem; height: 1.5rem; line-height: 1.5rem; background-color: transparent; text-align: right; color: #fff; font-size: 0.8rem;}

    #slider-range{height: 0.625rem; background-color: #121826; border: 0; margin-top: 0.625rem;  width: 98%; margin-left: 0.625rem;}
    .ui-slider-range{background-color: #39B29D !important; border: 0;}
    #slider-range span{background: #3D4451; box-shadow: 0 1px 0 #121826; border-radius: 2px; width: 0.625rem; border: 0 !important;}

    .tabDetailBox .seedImgBox{width: 100%; height: calc(100vh - 24rem); text-align: left; overflow-y: scroll;}
    .tabDetailBox .seedImgBox::-webkit-scrollbar{width: 8px;}
    .tabDetailBox .seedImgBox::-webkit-scrollbar-thumb{background-color: #3D4451; border-radius: 10px;}
    .tabDetailBox .seedImgBox::-webkit-scrollbar-track{background-color: #1C2232; border-radius: 10px;}

    /* 이미지셀렉 패널 result, ex-settings 내용 */
    .tabDetailBox .savedImgBox{width: 100%; height: calc(100vh - 15.625rem); text-align: left; overflow-y: scroll;}
    .tabDetailBox .savedImgBox::-webkit-scrollbar{width: 8px;}
    .tabDetailBox .savedImgBox::-webkit-scrollbar-thumb{background-color: #3D4451;
        border-radius: 10px;}
    .tabDetailBox .savedImgBox::-webkit-scrollbar-track {background-color: #1C2232; border-radius: 10px;}

    /* 이미지셀렉 패널 페이지네이션 */
    .page{margin-top: 1.875rem; text-align: center; width: calc(100% - 0.5rem);}
    .leftPage{display: inline-block; width: auto; height: 0.8rem; margin-right: 0.5rem; background-image: url("../image/web/arrow_left.png"); background-size: 100% auto; background-position: center; background-repeat: no-repeat; vertical-align: top;}
    .rightPage{display: inline-block; width: auto; height: 0.8rem; margin-left: 0.5rem; background-image: url("../image/web/arrow_right.png"); background-size: 100% auto; background-position: center; background-repeat: no-repeat; vertical-align: top;}
    .pages{display: inline-block; width: 0.875rem; height: 0.875rem; margin-right: 1vw; font-size: 0.6875rem; line-height: 0.875rem; text-align: center; font-weight: bold; color: #d7d7d7; vertical-align: top;}
    .pages.active{color: #39B29D;}


    
    /* ========================================== */
    /* 결과창 */
    .autoSynResult .spaceBg{background-color: #252c35;}
    .autoSynResult .bgBox{width: 100%; background-color: #252c35; box-sizing: border-box; border-top-left-radius: 1.25rem; border-top-right-radius: 1.25rem; border-top: 1px solid #555; margin-top: 1.5rem;}
    .autoSynResult h4{color: #FFF; text-align: center; font-family: 'Noto Sans KR', sans-serif; font-size: 5.5vw; font-weight: 700; margin-top: 6vw;}
    .autoSynResult p{color: #FFF; text-align: center; font-family: Noto Sans KR; font-size: 4vw; font-weight: 400; margin-top: 6vw;}
    .imageCenterBox{width: 76vw;}
    /* 결과창 : 모두선택하기 */
    .autoSynResult .chkAll{margin: 6vw auto 0;}
    .autoSynResult .chkAll input{width: 3.5vw; height: 4vw; vertical-align: middle;}
    .autoSynResult .chkAll label{font-size: 4vw; vertical-align: middle;}
    /* 결과창 : 결과이미지 선택 */
    .autoSynResult ul.autoImgList{margin: 0.33rem auto 0;}
    .autoSynResult ul.autoImgList li{display: inline-block; margin: 2vw 1.5vw 0 0;}
    .autoSynResult ul.autoImgList li:nth-child(2n){margin-right: 0;}
    .autoSynResult ul.autoImgList li div{font-size: 0; width: 36vw; height: 36vw; border-radius: 2vw; box-sizing: border-box; border: 1px solid rgba(170, 170, 170, 0.4);}
    .autoSynResult ul.autoImgList li input{width: 4vw; height: 4vw; display: block; margin: 2vw auto 0;}
    /* 결과창 : 선택이미지저장, 다시하기 버튼 */
    .autoSynResult .btnBox_rst{text-align: center; margin: 4vw auto;}
    .autoSynResult .btnBox_rst div{display: inline-block; width: 49%; height: 10vw; line-height: 10vw; border-radius: 4px; font-size: 4vw; text-align: center;}
    .autoSynResult .btn_saveChk{background-color: #39B29D;}
    .autoSynResult .btn_again{background-color: #4C5159;}
    /* 결과창 : 이미지확대 모달 */
    .bigImage_Modal{position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 110; background-color: rgba(38, 44, 56, 0.90); text-align: center;}
    .bigImage_Modal .indexNum{position: relative; margin: 6.19rem 0 2.81rem; font-size: 0.875rem; font-weight: 700;}
    .bigImage_Modal .indexNum::after{content: ''; display: block; width: 1.25rem; height: 1px; background-color: #fff; position: absolute; left: 50%; top: -4px; transform: translateX(-50%);}
    .bigImage_Modal .bigImage{width: 94vw; height: 94vw; margin: 0 auto ; box-sizing: border-box; border: 1px solid #aaa;}
    .bigImage_Modal button{width: 6.25rem; height: 1.625rem; background-color: #eaeaea; border: none; box-sizing: border-box; border-radius: 0.1875rem; font-size: 0.8rem; font-family: 'Noto Sans KR', sans-serif; font-weight: 600; color: #121826; margin-top: 2.44rem;}
    
}
@media screen and (min-width: 280px) {

}
@media screen and (min-width: 414px) {
    /* 합성시작, 다시하기 버튼 */
    .btn_autoSyn{width: 76%; margin: 4vw auto 6vw;}
    .btn_autoSyn>div{height: 3rem;}
    .btn_autoSyn .startBtn_autoSyn{font-size: 0.9rem; line-height: 3rem;}
    .btn_autoSyn .reloadPage span{font-size: 1.2rem; line-height: 3rem;}
    
}
@media screen and (min-width: 768px) {
    /* 바탕 */
    .SyntheLayer{width: calc(100% - 40px); margin-left: 20px;}
    /* 닫기 버튼 */
    .SyntheLayer .btn_close{margin: 20px;}
    /* 타이틀 */
    .SyntheLayer h5{font-size: 1.2rem;}
    /* 박스 스타일 */
    .body .resultBox .orgImgBox,
    .body .resultBox .seedImgBox{width: 34vw; height: 34vw;}
    /* 이미지 넘버 텍스트 */
    .body .resultBox .imgArea p{font-size: 1rem;}
    /* 박스 내부 텍스트 */
    .body .resultBox .orgImgBox .info,
    .body .resultBox .seedImgBox .info{font-size: 0.8rem; line-height: 1.3;}
    /* '+' 모양 */
    .body .resultBox .addImgBox{margin-top: -5%;}
    .body .resultBox .addImgBox .addImg{font-size: 3.2vw;}

    /* 이미지셀렉 패널 */
    .imgpannel{height: 60vh;}
    /* 왼쪽 */
    .pannelLeft{float: left; width: 50%; height: 50vh; box-sizing: border-box; padding-right: 1rem;}
    /* 오른쪽 */
    .pannelRight{float: right; width: 50%; height: 47vh;}
    /* 이미지셀렉 패널 탭메뉴 */
    .tabBox .menu{height: 2.5rem;}
    .tabBox .menu .icon{width: 1rem; height: 1rem; margin-top: 0.4rem;}
    .tabBox .menu .content{font-size: 1rem; margin-top: 0.4rem;}
    /* 이미지셀렉 패널 images 내용 */
    .tabDetailBox .uploadImage{width: 14rem; margin-top: 2.45rem;}
    .tabDetailBox .imageBox{height: calc(50vh - 5rem);}
    .tabDetailBox .imageBox .preProjImage,
    .tabDetailBox .seedImgBox .seedImage,
    .tabDetailBox .savedImgBox .condiImage,
    .tabDetailBox .savedImgBox .resultImage{
        width: calc(((50vw - 2.65rem) / 3) - 0.1rem);
        height: calc(((50vw - 2.65rem) / 3) - 0.1rem);
    }
    /* 이미지셀렉 패널 Seeds 내용 */
    .tabDetailBox .seedImgBox{height: calc(50vh - 5rem);}
    /* 이미지셀렉 패널 result, ex-settings 내용 */
    .tabDetailBox .savedImgBox{height: calc(50vh - 5rem);}

    /* 결과창 */
    .autoSynResult h4{font-size: 3.2vw; margin-top: 4vw;}
    .autoSynResult p{font-size: 2vw; margin-top: 6vw;}
    .imageCenterBox{width: 68vw; margin: 0 auto;}
    /* 결과창 : 모두선택하기 */
    .autoSynResult .chkAll{margin: 6vw auto 0;}
    .autoSynResult .chkAll input{width: 2vw; height: 2vw;}
    .autoSynResult .chkAll label{font-size: 2.2vw;}
    /* 결과창 : 결과이미지 선택 */
    .autoSynResult ul.autoImgList li{display: inline-block; margin: 2vw 1.5vw 0 0;}
    .autoSynResult ul.autoImgList li:nth-child(2n){margin-right: 1.5vw;}
    .autoSynResult ul.autoImgList li:nth-child(3n){margin-right: 0;}
    .autoSynResult ul.autoImgList li div{width: 21.2vw; height: 21.2vw;}
    .autoSynResult ul.autoImgList li input{width: 2vw; height: 2vw;}
    /* 결과창 : 선택이미지저장, 다시하기 버튼 */
    .autoSynResult .btnBox_rst{width: 50%;}
    .autoSynResult .btnBox_rst div{height: 6vw; line-height: 6vw; font-size: 2.2vw;}
    /* 결과창 : 이미지확대 모달 */
    .bigImage_Modal .indexNum{font-size: 1.2rem;}
    .bigImage_Modal .bigImage{width: 60vh; height: 60vh;}
    .bigImage_Modal button{width: 6.25rem; height: 1.625rem; background-color: #eaeaea; border: none; box-sizing: border-box; border-radius: 0.1875rem; font-size: 0.8rem; font-family: 'Noto Sans KR', sans-serif; font-weight: 600; color: #121826; margin-top: 2.44rem;}

}
@media screen and (min-width: 1024px) {
    /* 이미지셀렉 패널 탭메뉴 */
    .tabBox .menu{height: 2.5rem;}
    .tabBox .menu .icon{width: 1rem; height: 0.8rem; margin-top: 0.8rem;}
    .tabBox .menu .content{font-size: 0.8rem; margin-top: 0.8rem;}
    
}