@use '../base/variables';
@use '../base/mixins';


section.focus {
  position: relative;
  color: var(--color-text-primary-no-change);

  // gsap 애니메이션 때문에 발생하는 공백 커버
  margin-top: 100px;
  padding-bottom: 300px;

  .focus-inner {
    position: relative;
    max-width: 600px;
    margin: 100px auto;

    @include mixins.respond(md) {
      max-width: 850px;
    }

    @include mixins.respond(lg) {
      max-width: 1220px;
    }

    h2 {
      position: sticky;
      top: 100px;
      z-index: 1;

      overflow: hidden;
      font-weight: 900;
      font-size: 4.4rem;
      line-height: 1;

      @include mixins.respond(md) {
        overflow: visible;
        word-break: break-word;
        font-size: 11.825rem;
      }

      @include mixins.respond(lg) {
        font-size: 18.75rem;
      }
    }

    .focus-card-wrap {
      position: relative;
      z-index: 2;


      .focus-card {
        background: var(--color-focus-card-bg);
        max-width: 400px;
        padding: 20px 16px;
        box-sizing: border-box;
        margin: 0 auto 30px;

        .titlebox {
          text-align: center;
          margin-bottom: 10px;

          img {
            display: inline-block;
            width: 14px;
            height: 14px;
          }

          h3 {
            font-size: 1.25rem;
            font-weight: 800;
          }
        }

        .conbox {
          display: flex;
          flex-direction: column;
          gap: 26px;

          .flag {
            display: flex;
            align-items: stretch;

            span {
              // 디바이스 폰트사이즈 large일때도 보이도록 고정 height 사용 안하고 flex로 처리
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 4px 8px;

              background-color: var(--color-gray-900);
              font-size: 0.8125rem;
              font-weight: 800;
              color: var(--color-white);
              line-height: 1;
            }
          }


          .info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .textbox {
              p {
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 4px;
              }

              .work-skills {
                span {
                  display: inline-block;
                  font-size: 0.75rem;
                  font-weight: 700;
                  line-height: 1;
                  padding: 0.25rem 0.375rem;
                  border: 1px solid var(--color-text-weak);
                  transform: skewX(-8deg);
                  margin: 0.2rem 0.05rem;
                }
              }
            }

            a.work-github-link {
              display: flex;
              align-items: center;

              img {
                margin-right: 4px;
              }

              span {
                font-size: 0.75rem;
                font-weight: 700;

                @include mixins.hover {
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }

            .date {
              font-size: 0.75rem;
            }
          }

          .btnbox {
            a {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
}