@use '../base/variables';
@use '../base/mixins';

section.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  min-height: 650px;
  max-height: 800px;
  box-sizing: border-box;
  padding: 100px 0 150px;
  text-align: center;

  .hero-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include mixins.respond(md) {
      gap: 24px;
    }

    img {
      width: 20px;
      height: 20px;
    }

    strong {
      font-family: var(--font-english);
      font-weight: 400;
      font-size: 1.25rem;

      @include mixins.respond(md) {
        font-size: 1.5rem;
      }
    }
  }

  .title-ani {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 100px;

    &__brace {
      position: absolute;
      font-family: var(--font-english);
      font-weight: 300;
      font-size: 20px;
      
      @include mixins.respond(md){
        font-size: 36px;
      }
    }

    &__shapes {
      display: flex;
      justify-content: space-between;
      width: 70%;
      max-width: 450px;

      @include mixins.respond(md) {
        width: 75%;
        max-width: 700px;
      }

      @include mixins.respond(lg) {
        width: 700px;
        max-width: none;
      }
    }

    &__shape {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      padding: 0 4px;

      @include mixins.respond(md) {
        width: 50px;
        height: 50px;
        padding: 0;
      }
    }
  }

  .text-decorative {
    font-family: var(--font-decoration);
    font-weight: 400;
    font-size: 2rem;

    @include mixins.respond(md) {
      font-size: 2.25rem;
    }
  }

  .sticker {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    
    .sticker__inner{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background: var(--gradient-purple-skyblue-wide);
      box-sizing: border-box;
      padding: 24px 16px;
      box-shadow: 0 10px 20px rgba(26, 10, 44, 0.2);

    @include mixins.respond(md) {
      padding: 40px 25px;
    }

      span {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-family: var(--font-english);
        font-weight: 400;
        font-size: 10px;
        color: var(--color-text-inverse);
  
        @include mixins.respond(md) {
          font-size: 12px;
        }
  
        &::after {
          display: block;
          content: '';
          width: 1px;
          height: 40px;
          background-color: var(--color-white);
        }
      }
    }
  }
}