@use '../base/variables';
@use '../base/mixins';

section.thanks {
  background: var(--color-bg-thanks);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @include mixins.respond(lg){
    height: 400px;
  }

  .clovers {
    display: flex;
    justify-items: center;
    object-fit: cover;
    gap: 20px;
  }

  .textbox{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--font-english);

    @include mixins.respond(md){
      width: 40%;
    }

    span{
      font-weight: 300;
      font-size: 1.5rem;
    }
    h2{
      font-weight: 400;
      font-size: 1.825rem;
    }
  }

}