
/* 메인 폰트 */

// font-family: 'SUITE Variable', sans-serif;
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css');

// 영문 only
// font-family: 'Roboto Slab', serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


/* 장식용 폰트 */
// 영문 only
// font-family: 'Ephesis', cursive;
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


